body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  /*  */
}
.main-content-sections {
  padding: 100px 90px;
  width: calc(100% - 370px);
}
.about-me-section {
  margin-bottom: 40px;
  width: 400px;
}
/* about-me-section */
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  color: #000;
}
.my-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
  color: #000;
}
.about-me {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
  width: 400px;
}
.main-content-sections-name {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.main-content-date {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.main-content-date-pipe {
  color: #000;
}
/* my-projects-section */
.my-projects-section {
  margin-bottom: 50px;
}
.my-projects-list {
  font-weight: bold;
  padding-left: 19px;
}
.my-projects-item {
  color: #000;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
}
.my-projects-link {
  text-decoration: none;
  color: #595959;
}
.main-content-brecket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
/* my-work-experience-section  */
.my-work-experience-duty {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 10px;
}
.my-work-experience-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}
.my-work-experience-tasks {
  padding: 0 0 0 17px;
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
/* my-education-section */
.my-education-sections-name {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin: 40px 0 10px 0;
}
.my-education-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}
.my-education-speciality {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 10px 0 10px 0;
}
/* sidebar section */
.sidebar-title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.sidebar-sections {
  background: #1e2939;
  width: 370px;
  padding: 40px 0;
}
/* contacts-section */
.contacts-section-type {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 5px;
}
.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
}
.celullar-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
  text-decoration: none;
}
.sidebar-list {
  padding: 0 0 0 17px;
}
.sidebar-list-item {
  color: #fb6d3a;
}
.sidebar-list-item-text {
  color: #fff;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin-left: 40px;
  margin-top: 50px;
}
